[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "libhybris"]
	path = libhybris
	url = https://github.com/minecraft-linux/libhybris
[submodule "osx-elf-header"]
    path = osx-elf-header
    url = https://github.com/MCPI-Revival/osx-elf-header
[submodule "epoll-shim"]
    path = epoll-shim
    url = https://github.com/jiixyj/epoll-shim
[submodule "minivorbis"]
	path = minivorbis
	url = https://github.com/edubart/minivorbis
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
