build/
buil/
build2/
build-arm/
build-win32/
build-i686/
assets3/
lib3/
lib4/
lib2/
/res/
/assets/
/overrides/
/mods/
/lib
/.vscode/
/storage/
/*.c
/*.cpp
/*.py
/*.txt
!stl_notes.txt
a.out
*.so
*.o
/*.apk
/*.trace
result/
result
result*
*.deb
/pkgs/ninecraft/*/bin
pkgs/Ninecraft.AppDir/.DirIcon
