[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glad"]
	path = glad
	url = https://github.com/Dav1dde/glad.git
[submodule "libhybris"]
	path = libhybris
	url = https://github.com/minecraft-linux/libhybris
