[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "zlib"]
	path = zlib
	url = http://github.com/madler/zlib
[submodule "ancmp"]
	path = ancmp
	url = http://github.com/MFDGaming/ancmp
[submodule "glad"]
	path = glad
	url = https://github.com/Dav1dde/glad
[submodule "openal-soft"]
	path = openal-soft
	url = https://github.com/kcat/openal-soft
